#gameDetailsTitle{
    border-bottom: 2px solid white;
}

.gameDetailsButton{
    width: 100px;
    height: fit-content;
    padding: 5px;
    float: left;
}
.gameDetailsHeader{
    color: white;
}
#gameDetailsCartDiv{
    display: block;
    border: 1px solid white;
    padding: 5px;
}


#gameDetailsGrid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.gameDetailsheart{
    height: 28px;
    width: 28px;
    margin:0px;
    float: left;
}

#gameDetailsLikedButton{
    float: left;
    background-color: transparent;
    border:  0;
}

.gameDetailsHeart{
    width: 30px; 
    height: 30px;  
}