#gameArea{
    position: relative;
    background-color: #282828;
    height: 1000px;
    margin: 0px;
}
#likedGamesTitle{
    border-bottom: 2px solid white;
    color: white;
    margin: 2px 0px;
}

.gameList{
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gameImage{
    display: inline;
    background-color: black;
    margin: 0px 5px 5px 0px;
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}

#gameAreaSort{
    float: right;
    position: relative;
    bottom: 30px;
    color: white;
    background-color: #282828;
}

#sortLabel{
    color: white;
    float: right;
    position: relative;
    bottom: 30px;
    margin-right: 5px;
}