#likedGamesTitle{
    border-bottom: 2px solid black;
    margin: 2px 0px;
}

.gameList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gameImage{
    display: inline;
    background-color: black;
    margin: 0px 5px 5px 0px;
    width: 200px;
    height: 250px;
}