.homeButton{
    width: 100px;
    height: inherit;
}

#searchBox{
    height: inherit;
    
}

.topbar{
    height:30px;
    background-color: aqua;
}
.grid-container{
    display:  grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    padding: 2px;
    width: 99.5%;
    height: 30px;
    background-color: gray;
}


.cartButton{
    float: right;
    margin-left: 5px;
    border: none;
    background-color: transparent;
}
.heart{
    height: 28px;
    width: 28px;
    margin:0px;
    float: right;
}

#heartPath{
    fill: red;
}

#cartImage{
    width: 30px;
    height: 30px;
    margin: 0px;
    float: right;
}

.cartButtonDiv{
    height: inherit;
}