.imageContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.likeDislikeDiv{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2px;
}

#likeButton{
    height: 30px;
    width: 50px;
    padding: 2px;
    text-align: center;
    margin: .1% 50px;
    color: white;
}


.gamePicture{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#likedGamesDiv{
    border-bottom: 2px solid black;
    grid-column: 1 / span 3;
    margin: 2px 0px;
}

.gameList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gameImage{
    display: inline;
    background-color: black;
    margin: 0px 5px 5px 0px;
    width: 200px;
    height: 250px;
}