table,
th,
td {
    border: 1px solid white;
    color: white;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #282828;
}

#searchSort {
    margin: 5px;
}

#searchSortLabel {
    color: white;
}