html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #171717;
    margin: 0;
    padding: 0;
}

#cartSort {
    margin: 5px;
}

#cartSortLabel {
    color: white;
}

#gameArea {
    position: relative;
    background-color: #282828;
    height: 1000px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px;
}

#likedGamesTitle {
    border-bottom: 2px solid white;
    color: white;
    margin: 2px 5px;
}

.gameList {
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#gameDivWrapper {
    display: flex;
    justify-content: center;
}

.gameImage {
    margin: 0px 5px 5px 0px;
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
}

.gameAreaTable {
    border: none;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px 0px;
}

.gameAreaTableCell {
    border: none;
}

#gameAreaSort {
    float: right;
    position: relative;
    color: white;
    background-color: #282828;

}

#sortLabel {
    color: white;
    float: right;
    position: relative;
}

#gameDetailsTitle {
    border-bottom: 2px solid white;
}

.gameDetailsButton {
    width: 100px;
    height: fit-content;
    padding: 5px;
    float: left;
}

.gameDetailsHeader {
    color: white;
}

#gameDetailsCartDiv {
    display: block;
    border: 1px solid white;
    padding: 5px;
}

#gameDetailsGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.gameDetailsheart {
    height: 28px;
    width: 28px;
    margin: 0px;
    float: left;
}

#gameDetailsLikedButton {
    float: left;
    background-color: transparent;
    border: 0;
}

.gameDetailsHeart {
    width: 30px;
    height: 30px;
}

#htmlDoc {
    background-color: black;
    padding: 0px;
}

#header {
    background-color: #282828;
}

select {
    color: white;
    background-color: black;
}

#LikedSort {
    margin: 5px;
}

#LikedSortLabel {
    color: white;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.gamePicture {
    opacity: 1;
    display: block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gameDetailsMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imageContainer:hover .gamePicture {
    opacity: 0.3;
}

.imageContainer:hover .gameDetailsMiddle {
    opacity: 1;
}

.gameDetailsText {
    color: white;
    font-size: 20px;
}

.likedGamesText {
    padding: 0px;
    display: block;
    color: white;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.likedGameContainer {
    position: relative;
}

.likedGameContainer:hover .gameImage {
    opacity: 0.3;
}

.likedGameContainer:hover .gameDetailsMiddle {
    opacity: 1;
}

.likeDislikeDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2px;
}

.likeDislikeButton {
    background-color: transparent;
    color: red;
    font-size: 25px;
    font-weight: bolder;
    border: 0;
    height: 30px;
    width: 50px;
    padding: 2px;
    text-align: center;
    margin: .1% 50px;
    color: white;
    transition: 0.5s ease;
}

#dislikeButton {
    color: red;
    font-size: 25px;
}

#dislikeButton:hover {
    color: yellow;
}

table,
th,
td {
    border: 1px solid white;
    color: white;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #282828;
}

#searchSort {
    margin: 5px;
}

#searchSortLabel {
    color: white;
}

.topBar {
    position: sticky;
    top: 0;
    background-color: #282828;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px;
}

.backfowardDiv {
    background-color: transparent;
    display: inline;
    height: 30px;
    width: fit-content;
    float: left;
}

#backIcon {
    color: white;
    font-size: 30px;
    text-align: center;
}

.backButton {
    background-color: transparent;
    width: fit-content;
    height: 30px;
    border: 0;
    float: left;
}

.backImage {
    width: fit-content;
    background-color: transparent;
    height: 100%;
}

#searchButton {
    background-color: transparent;
    border: 0px;
}

#searchButtonImage {
    background-color: transparent;
    width: 25px;
    height: 25px;
}

#searchBox {
    font-family: Arial, Helvetica, sans-serif;
    background: #282828;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    height: inherit;
    width: 70%;
    justify-self: center;
    color: #FFFFFF;
}

.searchDiv {
    padding-left: 20px;
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
}

.cartButton {
    float: right;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    height: inherit;
    width: inherit;
}

.heart {
    height: 28px;
    width: 28px;
    margin: 0px;
    float: right;
}

.likedListImg {
    height: inherit;
    width: inherit;
}

#heartPath {
    fill: #171717;
    stroke: red;
    stroke-width: 15px;
    transition: 0.5s ease;
}

#heartPath:hover {
    fill: red;
    transition: 0.5s ease;
}

.cartButtonDiv {
    height: inherit;
}

#cartImage {
    width: 30px;
    height: 30px;
    margin: 0px;
    float: right;
    background-color: transparent;
}

.badge {
    position: relative;
    float: right;
    right: 22px;
    top: 7px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
}

#heartButton {
    justify-self: left;
    width: 35px;
    height: 35px;
}

#trashButton {
    padding-top: 20px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
}

#DislikedSortLabel {
    color: white;
}

#mainDisplayTable {
    border: 0px;
}

#mainDisplayCol {
    border: 0px;
    width: 33%;
}

.trashPosition {
    vertical-align: top;
}

#cartBody {
    display: grid;
    grid-template-columns: 70% auto;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 6a6a6a;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6a6a6a;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

/* search bar icon */
input#search {
    background-image: url('https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    /* Extra Styling */
    padding: 5px 3px;
    transition: 0.3s;
}

input#search:focus {
    background-image: none;
    text-indent: 0px
}