html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #171717;
    margin: 0;
    padding: 0;
}

#gameArea {
    position: relative;
    background-color: #282828;
    min-height: calc(100vh - 371px);
    height: fit-content;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px black;
}

#likedGamesTitle {
    color: white;
    margin: 2px 5px;
}

.gameList {
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#gameDivWrapper {
    display: flex;
    justify-content: center;
}

.gameImage {
    margin: 0px 5px 5px 0px;
    width: 200px;
    height: 270px;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

.gameAreaTable {
    border: none;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px 0px black;
}

.gameAreaTableCell {
    border: none;
}

#gameDetailsCartDiv {
    display: block;
    padding: 20px;
}

#gameDetailsGrid {
    display: grid;
    grid-template-columns: 70% auto;
}

.gameDetailsheart {
    height: 28px;
    width: 28px;
    margin: 0px;
    float: left;
}

#gameDetailsLikedButton {
    float: left;
    background-color: transparent;
    border: 0;
}

.gameDetailsHeart {
    width: 30px;
    height: 30px;
}

#htmlDoc {
    background-color: #171717;
    padding: 0px;
}

#header {
    background-color: #282828;
}

select {
    color: white;
    background-color: black;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.gamePicture {
    opacity: 1;
    display: block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0px 0px 5px 0px black;
}

.gameDetailsMiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imageContainer:hover .gamePicture {
    opacity: 0.3;
}

.imageContainer:hover .gameDetailsMiddle {
    opacity: 1;
}

.likedGamesText {
    padding: 0px;
    display: block;
    color: white;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.likedGameContainer {
    position: relative;
}

.likedGameContainer:hover .gameImage {
    opacity: 0.3;
}

.likedGameContainer:hover .gameDetailsMiddle {
    opacity: 1;
}

.likeDislikeDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2px;
}

.likeDislikeButton {
    background-color: transparent;
    color: red;
    font-size: 25px;
    font-weight: bolder;
    border: 0;
    height: 30px;
    width: 50px;
    padding: 2px;
    text-align: center;
    margin: .1% 50px;
    color: white;
    transition: 0.5s ease;
}

#dislikeButton {
    color: red;
    font-size: 25px;
}

#dislikeButton:hover {
    color: #535353;
}

.topBar {
    position: sticky;
    top: 0;
    background-color: #282828;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0px 0px 5px 0px black;
}

.backfowardDiv {
    background-color: transparent;
    display: inline;
    height: 30px;
    width: fit-content;
    float: left;
}

#backIcon {
    color: white;
    font-size: 30px;
    text-align: center;
}

.backButton {
    background-color: transparent;
    width: fit-content;
    height: 30px;
    border: 0;
    float: left;
}

.backImage {
    width: fit-content;
    background-color: transparent;
    height: 100%;
}

#searchButton {
    background-color: transparent;
    border: 0px;
}

#searchButtonImage {
    background-color: transparent;
    width: 25px;
    height: 25px;
    opacity: 1;
    transition: 0.5s ease;
}

#searchButtonImage:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

#searchBox {
    font-family: Arial, Helvetica, sans-serif;
    background: #171717;

    text-indent: 20px;
    border: 2px solid #151515;
    border-radius: 50px;
    height: inherit;
    width: 70%;
    justify-self: center;
    color: #FFFFFF;
    transition: 0.5s ease;

    background-image: url('https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png');
    background-position: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 35px;
}

#searchBox:hover {
    background: #282828;
    transition: 0.5s ease;
    background-image: none;
    text-indent: 20px;
}

.searchDiv {
    padding-left: 20px;
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
}

.cartButton {
    float: right;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    height: inherit;
    width: inherit;
    opacity: 1;
    transition: 0.5s ease;
}

.cartButton:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

.heart {
    height: 28px;
    width: 28px;
    margin: 0px;
    float: right;
}

#trashButton {
    opacity: 1;
    transition: 0.5s ease;
}

#trashButton:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

.likedListImg {
    height: inherit;
    width: inherit;
}

#heartPath {
    fill: #171717;
    stroke: red;
    stroke-width: 15px;
    transition: 0.5s ease;
}

#heartPath:hover {
    fill: red;
    transition: 0.5s ease;
}

#heartPathGameDetails:hover{
    opacity: 0.6;
}

.cartButtonDiv {
    height: inherit;
}

#cartImage {
    width: 30px;
    height: 30px;
    margin: 0px;
    float: right;
    background-color: transparent;
}

.badge {
    position: relative;
    float: right;
    right: 22px;
    top: 7px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
}

#heartButton {
    justify-self: left;
    width: 35px;
    height: 35px;
}

#trashButton {
    padding-top: 20px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
}

#DislikedSortLabel {
    color: white;
}

#mainDisplayTable {
    border: 0px;
    width: 100%;
}

#mainDisplayCol {
    border: 0px;
    width: 33%;
}

.trashPosition {
    vertical-align: top;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 6a6a6a;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6a6a6a;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

#cartBody {
    display: grid;
    grid-template-columns: 70% auto;
}

.pageTitleTable {
    margin-top: 20px;
    height: 50px;
    border: none;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px 0px black;
    width: 100%;
}

.pageTitleCell {
    padding: 20px;
    color: white;
    border: none;
}

.pageTitleText {
    font-size: 20px;
    user-select: none;
}

.pageTitleSort {
    float: right;
    position: relative;
    color: white;
    background-color: #282828;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.5s ease;
}

.pageTitleSort:hover {
    background-color: #535353;
    transition: 0.5s ease;
}

.homePageTitleSort {
    background-color: #171717;
}

.pageTitleSortLabel {
    color: white;
    float: right;
    user-select: none;
}

.pageTitleSortLabel:hover {
    box-shadow: 0px 0px 5px 0px black;
}

.displayItem {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.displayItemTable {
    background-color: #282828;
    border-spacing: 0;
    border: 1px solid #282828;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
    width: 100%;
}

.displayItemImgCol {
    width: 240px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

.displayItemImg {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.displayItemDescCol {
    border: none;
}

.displayItemDescTitle {
    font-weight: bold;
    color: white;
}

.displayItemDescPrice {
    font-weight: normal;
    color: white;
}


.displayItemDescText {
    padding: 20px;
    font-weight: normal;
    color: white;
}

.displayItemButtonCol {
    width: 240px;
    text-align: center;
    border: none;
}

.displayItemButton {
    border: 1px solid #535353;
    border-radius: 5px;
    background-color: #282828;
    transition: 0.5s ease;
    padding: 20px;
    width: 200px;
    color: white;
}

.displayItemButton:hover {
    background-color: #535353;
    transition: 0.5s ease;
    box-shadow: 0px 0px 5px 0px black;
}

.displayItemButton:active {
    box-shadow: inset 0px 0px 5px 0px black;
    transition: 0.5s ease;
}

.orderTable {
    float: right;
    width: 250px;
    border-spacing: 0;
    border: 2px solid #282828;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 5px 0px black;
    background: #171717;
}

.orderButton {
    background: #3275D9;
    border: none;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.orderButton:hover {
    background: #6796de;
    transition: 0.5s ease;
}

.orderButton:active {
    box-shadow: inset 0px 0px 5px 0px black;
    transition: 0.5s ease;
}

.orderTableCell {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    border: none;
}

.orderTableCategory {
    padding-left: 20px;
}

.orderTotalCell {
    font-weight: bold;
}

.orderTitleCell {
    font-size: 20px;
    text-align: center;
}

.orderTableButtonCell {
    text-align: center;
    padding-bottom: 20px;
}

.orderTotalLine {
    width: 90%;
    text-align: center;
    border: none;
    background-color: #282828;
    height: 2px;
}

.cartLevel0 {
    z-index: 0;
}

.cartLevel1 {
    z-index: 1;
}

.gameDetailsArea {
    padding: 20px;
}

.gameDetailsVideo {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.gameDetailsGallery {
    overflow: auto;
    white-space: nowrap;
    width: 640px;
    height: 93px;
    border-radius: 5px;
}

.gameDetailsGalleryButton {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: none;
    opacity: 1;
    background: none;
    transition: 0.5s ease;
}

.gameDetailsGalleryButton:hover {
    opacity: 0.7;
    transition: 0.5s ease;
}

.gameDetailsGalleryImg {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.gameDetailsText {
    color: white;
    font-size: 20px;
}

.gameDetailsTags {
    width: 640px;
}

.gameDetailsTagsArea {
    line-height: 2;
}

.gameDetailsTagText {
    color: white;
    background: #282828;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px black;
}

#gameDetailsMainImage {
    border-radius: 5px;
    width: 640px;
}

.gameDetailsBuyCell {
    text-align: center;
    padding-bottom: 20px;
}

.cartTableSpacing {
    padding-bottom: 20px;
}